/*Start Slider Css*/
/*
* jQuery Nivo Slider v2.6
* http://nivo.dev7studios.com
*
* Copyright 2011, Gilbert Pellegrom
* Free to use and abuse under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* Customized and introduced by http://www.shareallworld.info
* March 2010
*/
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:1;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
	display:none;
}
.nivo-directionNav a, .nivo-directionNav a:hover {
	display: none;
	position:absolute;
	top:45%;
	width: 28px;
	height: 28px;
	text-indent: -9999px;
	z-index:9;
	cursor:pointer;
	background-image:url(../images/ctrl_slide.png);
}
.nivo-prevNav {
	left: 10px;
	background-position: 0 0;
}
.nivo-nextNav {
	right: 10px;
	background-position: 100% 0;
}
.nivoSlider:hover .nivo-directionNav {
	display: block
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	width: 100%;
	position: absolute;
	right: 5px;
	bottom: 0;
	text-align:right;
	padding: 5px 0;
	z-index: 999;
	text-indent: -99999px;
}
.nivo-controlNav a {
	cursor:pointer;
	display:inline-block;
	width:28px;
	height:28px;
	padding: 0;
	background: url(../Images/ctrl_slide.png) 0 0 no-repeat;
	margin: 0 3px;
	color: #010101;
	text-align: center;
}
.nivo-controlNav a.active, .nivo-controlNav a:hover {
	background-position: 100% 0;
	text-decoration: none;
}
/*
Skin Name: Pascal Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A nice, light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Pascal Gartner
Author URI: http://dev7studios.com
Developer: http://www.shareallworld.info
*/

.theme-pascal {
	height:500px;
	position:relative;
}
.theme-pascal .nivoSlider {
	position:relative;
	width:100%;
	height:100%;
}
.theme-pascal .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	width:100%; /* Make sure your images are the same size */
	height:100%; /* Make sure your images are the same size */
}
.theme-pascal .nivo-directionNav a {
	display:block;
}
/*End Slider Css*/
